body {
    background-image: url('../public/beautiful-fantasy-forest-landscape-with-river-and-trees-3d-render-ai-generated-free-photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }